# Desarrollo
DB_ENGINE=sqlite
DB_NAME=test.db

# Producción (descomentar y configurar)
# DB_ENGINE=mysql+pymysql
# DB_NAME=SistemaDocumentos
# DB_USER=root
# DB_PASSWORD=tu_password
# DB_HOST=localhost
# DB_PORT=3306
